<a href="https://colab.research.google.com/github/anantsimran/Kaggle-Iris-KNN/blob/master/kaggle_uciml_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
!pip install -q kaggle
!ls
!mkdir /root/.kaggle
from google.colab import files
uploaded = files.upload()
!cp /content/kaggle.json ~/.kaggle/kaggle.json
!kaggle config set -n path -v{/content}
!chmod 600 /root/.kaggle/kaggle.json
!kaggle datasets list

'{'   database.sqlite   iris   Iris.csv   kaggle.json   sample_data
mkdir: cannot create directory ‘/root/.kaggle’: File exists

Saving kaggle.json to kaggle (1).json
- path is now set to: {/content}
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                            title                                                size  lastUpdated          downloadCount
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge              COVID-19 Open Research Dataset Challenge (CORD-19)    1GB  2020-04-17 22:02:37          52585
roche-data-science-coalition/uncover                           UNCOVER COVID-19 Challenge                          123MB  2020-04-08 22:04:30           3870
praveengovi/coronahack-chest-xraydataset                       CoronaHack -Chest X-Ray-Dataset                       1GB  2020-03-20 01:26:40            550
katerpillar/meteonet                                           MeteoNet North-West France                           11GB  2020-04-16 08:35:45             31
andrewmvd/covid19-ct-scans                                     COVID-19 CT scans                                   662MB  2020-03-19 11:07:02            370
shuyangli94/interview-npr-media-dialog-transcripts             INTERVIEW: NPR Media Dialog Transcripts             293MB  2020-04-07 01:59:42             38
benroshan/factors-affecting-campus-placement                   Campus Placement                                      5KB  2020-04-11 11:09:02            261
imdevskp/india-district-wise-shape-files                       India 2020 District Level Shape files                22MB  2020-04-10 09:03:16             54
divyansh22/flight-delay-prediction                             January Flight Delay Prediction                      23MB  2020-04-14 13:15:41            115
bobbyscience/league-of-legends-diamond-ranked-games-10-min     League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02            114
ikiulian/global-hospital-beds-capacity-for-covid19             Global Hospital Beds Capacity (for covid-19)        277KB  2020-04-15 15:15:32            147
tunguz/covid19-genomes                                         COVID-19 Genomes                                    162KB  2020-04-17 16:13:14             46
lalish99/covid19-mx                                            COVID-19 MX                                         761KB  2020-04-18 04:29:25             41
kimjihoo/coronavirusdataset                                    Data Science for COVID-19 (DS4C)                      3MB  2020-04-14 05:18:00          29400
sudalairajkumar/novel-corona-virus-2019-dataset                Novel Corona Virus 2019 Dataset                     763KB  2020-04-17 04:33:14         149006
fireballbyedimyrnmom/us-counties-covid-19-dataset              US counties COVID 19 dataset                        525KB  2020-04-17 12:21:17           4351
clmentbisaillon/fake-and-real-news-dataset                     Fake and real news dataset                           41MB  2020-03-26 18:51:15           1476
unanimad/dataisbeautiful                                       Reddit - Data is Beautiful                           11MB  2020-04-14 14:11:20           1828
jessemostipak/hotel-booking-demand                             Hotel booking demand                                  1MB  2020-02-13 01:27:20          15070
paultimothymooney/covid19-containment-and-mitigation-measures  COVID-19 containment and mitigation measures        141KB  2020-04-17 21:27:12           1797

In [0]:
!pip install https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tarball/master
!jupyter contrib nbextension install --user
!jupyter nbextension enable hinterland/hinterland

In [9]:
!kaggle datasets download -d uciml/iris -p iris
!ls -larth

iris.zip: Skipping, found more recently modified local copy (use --force to force download)
total 52K
-rw-r--r-- 1 root root 5.0K Sep 19  2019  Iris.csv
-rw-r--r-- 1 root root  10K Sep 19  2019  database.sqlite
drwxr-xr-x 1 root root 4.0K Apr  3 16:24  sample_data
drwxr-xr-x 1 root root 4.0K Apr 15 16:10  .config
drwxr-xr-x 1 root root 4.0K Apr 18 03:16  ..
-rw-r--r-- 1 root root   67 Apr 18 03:17  kaggle.json
drwxr-xr-x 3 root root 4.0K Apr 18 03:17 '{'
drwxr-xr-x 2 root root 4.0K Apr 18 03:17  iris
-rw-r--r-- 1 root root   67 Apr 18 05:41 'kaggle (1).json'
drwxr-xr-x 1 root root 4.0K Apr 18 05:41  .

In [10]:
!ls iris/
!unzip iris/iris.zip -d .
!ls -larth

iris.zip
Archive:  iris/iris.zip
replace ./Iris.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: ./Iris.csv
  inflating: ./database.sqlite
total 52K
-rw-r--r-- 1 root root 5.0K Sep 19  2019  Iris.csv
-rw-r--r-- 1 root root  10K Sep 19  2019  database.sqlite
drwxr-xr-x 1 root root 4.0K Apr  3 16:24  sample_data
drwxr-xr-x 1 root root 4.0K Apr 15 16:10  .config
drwxr-xr-x 1 root root 4.0K Apr 18 03:16  ..
-rw-r--r-- 1 root root   67 Apr 18 03:17  kaggle.json
drwxr-xr-x 3 root root 4.0K Apr 18 03:17 '{'
drwxr-xr-x 2 root root 4.0K Apr 18 03:17  iris
-rw-r--r-- 1 root root   67 Apr 18 05:41 'kaggle (1).json'
drwxr-xr-x 1 root root 4.0K Apr 18 05:42  .

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline
import math
import seaborn as sns

In [0]:
# Load our warnings libraries
import warnings
warnings.filterwarnings('ignore')

In [0]:
data = pd.read_csv('Iris.csv')

In [17]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [20]:
data.head(20)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa